* {
	font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif; 
}

.navbar ul.nav > li > a {
	text-decoration: none;
}

.home-carousel {
	background: url('../img/people.jpg') center center repeat;
}

.home-carousel .dark-mask {
	background: #eee !important;
}

.home-carousel h1, .home-carousel p {
	color: #555555;
}